{% extends 'base.html' %}

{% block content %}
{% load static %}

<!---------------------------------on sale product------------------------------------------------>
<section class="on-sale">
    <div class="container">
            <div class="gallery-ul">
                    <ul class="nav justify-content-end">
                        <li class="nav-item">
                        <a class="nav-link"href="{% url 'home' %}">Home</a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link" href="{% url 'ourproducts' %}">Products</a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link" href="{% url 'ourservices' %}">Services </a>
                        </li>
                    </ul>
                </div>

        <div class="title-box">
            <h2>On Sale</h2>

        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="product-top">
                    <img src="/static/photos/eye-brite.jpg" alt="">
                    <div class="overlay-right">
                        <button type="button" class="btn btn-secondary" title="Quick Shop">
                            <a href="">
                                    <i class="fa fa-eye"></i>
                                    </a>
                        </button>
                        <button type="button" class="btn btn-secondary" title="Add to Wishlist">
                                <i class="fa fa-heart-o"></i>
                        </button>
                        <button type="button" class="btn btn-secondary" title="Add to cart">
                                <i class="fa fa-shopping-cart"></i>
                        </button>      
                    </div>
                </div>
                <div class="product-bottom text-center">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-o"></i>
                        <h3>Eye Brite</h3>
                        <h5>$40.00</h5>
                </div>
            </div>
            <div class="col-md-3">
                    <div class="product-top">
                        <img src="/static/photos/aloePower.jpg" alt="">
                        <div class="overlay-right">
                            <button type="button" class="btn btn-secondary" title="Quick Shop">
                                <i class="fa fa-eye"></i>
                            </button>
                            <button type="button" class="btn btn-secondary" title="Add to Wishlist">
                                    <i class="fa fa-heart-o"></i>
                            </button>
                            <button type="button" class="btn btn-secondary" title="Add to cart">
                                    <i class="fa fa-shopping-cart"></i>
                            </button>      
                        </div>
                    </div>
                    <div class="product-bottom text-center">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-half-o"></i>
                            <h3>Eye Brite</h3>
                            <h5>$70.00</h5>
                    </div>
            </div>
            <div class="col-md-3">
                    <div class="product-top">
                        <img src="/static/photos/40Plus.jpg" alt="">
                        <div class="overlay-right">
                            <button type="button" class="btn btn-secondary" title="Quick Shop">
                                <i class="fa fa-eye"></i>
                            </button>
                            <button type="button" class="btn btn-secondary" title="Add to Wishlist">
                                    <i class="fa fa-heart-o"></i>
                            </button>
                            <button type="button" class="btn btn-secondary" title="Add to cart">
                                    <i class="fa fa-shopping-cart"></i>
                            </button>      
                        </div>
                    </div>
                    <div class="product-bottom text-center">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <h3>Eye Brite</h3>
                            <h5>$40.00</h5>
                    </div>
            </div>
            <div class="col-md-3">
                    <div class="product-top">
                        <img src="/static/photos/espence.jpg" alt="">
                        <div class="overlay-right">
                            <button type="button" class="btn btn-secondary" title="Quick Shop">
                                    <a href="">
                                        <i class="fa fa-eye"></i>
                                        </a>
                            </button>
                            <button type="button" class="btn btn-secondary" title="Add to Wishlist">
                                    <i class="fa fa-heart-o"></i>
                            </button>
                            <button type="button" class="btn btn-secondary" title="Add to cart">
                                    <i class="fa fa-shopping-cart"></i>
                            </button>      
                        </div>
                    </div>
                    <div class="product-bottom text-center">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <h3>Eye Brite</h3>
                            <h5>$40.00</h5>
                    </div>
            </div>



        </div>
    </div>
</section>
<!---------------------------------new product------------------------------------------------>
<section class="new-products">
        <div class="container">
                <div class="title-box">
                    <h2>New Arrivals</h2>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="product-top">
                            <img src="/static/photos/eye-brite.jpg" alt="">
                            <div class="overlay-right">
                                <button type="button" class="btn btn-secondary" title="Quick Shop">
                                    <i class="fa fa-eye"></i>
                                </button>
                                <button type="button" class="btn btn-secondary" title="Add to Wishlist">
                                        <i class="fa fa-heart-o"></i>
                                </button>
                                <button type="button" class="btn btn-secondary" title="Add to cart">
                                        <i class="fa fa-shopping-cart"></i>
                                </button>      
                            </div>
                        </div>
                        <div class="product-bottom text-center">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-half-o"></i>
                                <h3>Eye Brite</h3>
                                <h5>$40.00</h5>
                        </div>
                    </div>
                    <div class="col-md-3">
                            <div class="product-top">
                                <img src="/static/photos/aloePower.jpg" alt="">
                                <div class="overlay-right">
                                    <button type="button" class="btn btn-secondary" title="Quick Shop">
                                        <i class="fa fa-eye"></i>
                                    </button>
                                    <button type="button" class="btn btn-secondary" title="Add to Wishlist">
                                            <i class="fa fa-heart-o"></i>
                                    </button>
                                    <button type="button" class="btn btn-secondary" title="Add to cart">
                                            <i class="fa fa-shopping-cart"></i>
                                    </button>      
                                </div>
                            </div>
                            <div class="product-bottom text-center">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-half-o"></i>
                                    <h3>Eye Brite</h3>
                                    <h5>$70.00</h5>
                            </div>
                    </div>
                    <div class="col-md-3">
                            <div class="product-top">
                                <img src="/static/photos/40Plus.jpg" alt="">
                                <div class="overlay-right">
                                    <button type="button" class="btn btn-secondary" title="Quick Shop">
                                        <i class="fa fa-eye"></i>
                                    </button>
                                    <button type="button" class="btn btn-secondary" title="Add to Wishlist">
                                            <i class="fa fa-heart-o"></i>
                                    </button>
                                    <button type="button" class="btn btn-secondary" title="Add to cart">
                                            <i class="fa fa-shopping-cart"></i>
                                    </button>      
                                </div>
                            </div>
                            <div class="product-bottom text-center">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <h3>Eye Brite</h3>
                                    <h5>$40.00</h5>
                            </div>
                    </div>
                    <div class="col-md-3">
                            <div class="product-top">
                                <img src="/static/photos/espence.jpg" alt="">
                                <div class="overlay-right">
                                    <button type="button" class="btn btn-secondary" title="Quick Shop">
                                        <i class="fa fa-eye"></i>
                                    </button>
                                    <button type="button" class="btn btn-secondary" title="Add to Wishlist">
                                            <i class="fa fa-heart-o"></i>
                                    </button>
                                    <button type="button" class="btn btn-secondary" title="Add to cart">
                                            <i class="fa fa-shopping-cart"></i>
                                    </button>      
                                </div>
                            </div>
                            <div class="product-bottom text-center">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <h3>Eye Brite</h3>
                                    <h5>$40.00</h5>
                            </div>
                    </div>
        
        
        
                </div>
                <div class="row">
                        <div class="col-md-3">
                            <div class="product-top">
                                <img src="/static/photos/eye-brite.jpg" alt="">
                                <div class="overlay-right">
                                    <button type="button" class="btn btn-secondary" title="Quick Shop">
                                        <i class="fa fa-eye"></i>
                                    </button>
                                    <button type="button" class="btn btn-secondary" title="Add to Wishlist">
                                            <i class="fa fa-heart-o"></i>
                                    </button>
                                    <button type="button" class="btn btn-secondary" title="Add to cart">
                                            <i class="fa fa-shopping-cart"></i>
                                    </button>      
                                </div>
                            </div>
                            <div class="product-bottom text-center">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-half-o"></i>
                                    <h3>Eye Brite</h3>
                                    <h5>$40.00</h5>
                            </div>
                        </div>
                        <div class="col-md-3">
                                <div class="product-top">
                                    <img src="/static/photos/aloePower.jpg" alt="">
                                    <div class="overlay-right">
                                        <button type="button" class="btn btn-secondary" title="Quick Shop">
                                            <i class="fa fa-eye"></i>
                                        </button>
                                        <button type="button" class="btn btn-secondary" title="Add to Wishlist">
                                                <i class="fa fa-heart-o"></i>
                                        </button>
                                        <button type="button" class="btn btn-secondary" title="Add to cart">
                                                <i class="fa fa-shopping-cart"></i>
                                        </button>      
                                    </div>
                                </div>
                                <div class="product-bottom text-center">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-half-o"></i>
                                        <h3>Eye Brite</h3>
                                        <h5>$70.00</h5>
                                </div>
                        </div>
                        <div class="col-md-3">
                                <div class="product-top">
                                    <img src="/static/photos/40Plus.jpg" alt="">
                                    <div class="overlay-right">
                                        <button type="button" class="btn btn-secondary" title="Quick Shop">
                                            <i class="fa fa-eye"></i>
                                        </button>
                                        <button type="button" class="btn btn-secondary" title="Add to Wishlist">
                                                <i class="fa fa-heart-o"></i>
                                        </button>
                                        <button type="button" class="btn btn-secondary" title="Add to cart">
                                                <i class="fa fa-shopping-cart"></i>
                                        </button>      
                                    </div>
                                </div>
                                <div class="product-bottom text-center">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <h3>Eye Brite</h3>
                                        <h5>$40.00</h5>
                                </div>
                        </div>
                        <div class="col-md-3">
                                <div class="product-top">
                                    <img src="/static/photos/espence.jpg" alt="">
                                    <div class="overlay-right">
                                        <button type="button" class="btn btn-secondary" title="Quick Shop">
                                            <i class="fa fa-eye"></i>
                                        </button>
                                        <button type="button" class="btn btn-secondary" title="Add to Wishlist">
                                                <i class="fa fa-heart-o"></i>
                                        </button>
                                        <button type="button" class="btn btn-secondary" title="Add to cart">
                                                <i class="fa fa-shopping-cart"></i>
                                        </button>      
                                    </div>
                                </div>
                                <div class="product-bottom text-center">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <h3>Eye Brite</h3>
                                        <h5>$40.00</h5>
                                </div>
                        </div>
            
            
            
                </div>

        </div>    
<!------------------------------displays products from daabase-------------------------------------------------->
    <div class="container">
        <div class="row">
            {% for item in object_list %}
                {% if forloop.counter0|divisibleby:3 and not forloop.first %}<div class="w-100"></div>{% endif %}
                <div class="col">
                    <h2>{{ item.name }}</a></h2>
                    <a href="{% url 'manager_detail' item.pk %}">

                        <img src="{{ item.product_photo.url }}" width="220" height="342"> 
                    </a>       
                        <p> Price : $ {{ item.price }}</p>
                        {% if user.is_superuser %}
                        <div>
                            <a href="{% url 'manager_edit' item.pk %}" class="btn btn-info" role="button"> Edit </a>
                            <a href="{% url 'manager_delete' item.pk %}" class="btn btn-danger" role="button"> Delete </a>
                        </div>
                        {% endif %}
    
                </div>


            {% endfor %}
        </div>
    </div>


</section>



{% endblock %}