{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="gallery-ul">
        <ul class="nav justify-content-end">
          <li class="nav-item">
            <a class="nav-link"href="{% url 'home' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  href="{% url 'ourproducts' %}">Products</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  href="{% url 'ourservices' %}">Services </a>
          </li>
        </ul>
  </div>

<div class="title-box">

<h2>Our Services </h2>
</div>

<div class="jumbotron">

<h2>Services.</h2>

<ul class="list-unstyled">
     <li>We offer in home services.</li> 
       <li> Circulatory Therapy</li>
      <li> Pain Therapy</li> 
      <li>Supplement education and Therapy</li>  
      <li> Product Therapy</li> 
     <li> Detoxication Therapy.</li>  

    </ul>
    <p>Our Circulatory Therapy :- It helps to move blood to the tinnest capilaries which is
        the most important vessels where oxygen is exchanged,Nutrients is absorbed into various
        tissues and cells in our body.The truth is we have so much ill-health due to our poor
        choices of food which lack of circulation and ignorance.
        Not to worry ,we are here to help!!We can do it together with our health coach.
        Get In touch NOW!!!!!!.
    </p>
    <h3>Benefits of Circulatory Therapy.</h3>
    <p>
        It helps to improve blod consistency,shappe of the red blood cells,improvement,reduces 
        health prognosis,eliminate true radicals,detoxify,nutrients absorpton,healthy cells and 
        tissues,overall health and much more.
    </p>
    <h3>Who can benefit from this Therapy</h3>
    <p>
        Children and Adults with any form of diagnosis,even healthy adults and kids.if you do a 
        lot of driving,seniors and everyobe.It is essential if you are :
            <ul class="list-inline">
                <li class="list-inline-item">Diabetic</li>
                <li class="list-inline-item">Hypertensive</li>
                <li class="list-inline-item">Neuropatic</li>
                <li class="list-inline-item">Arthrithis</li>
                <li class="list-inline-item">Fibromyalgia</li>
                <li class="list-inline-item">Migranes and Pains</li>
            </ul>
    </p>
    <h3>Pain Therapy</h3>
    <p>
        We use  the Cupping therapy to help relieve pain and other holistic approach based on 
        locattio of the pain.Over the years, we have seen that most people use prescription medication
        to deal with pain with little or no sucess.that is why we feel using holistic zpproach along
        with whatever medication you are using will provide great relieve and help you to gradually
        achieve your goal and inevitably,your dependancy on prescribed drugs will reduce so also your
        bills and eventually you become free of dependant drugs on pain.
    </p>
    <h3>Detoxification Therapy </h3>
    <p>
        These is the process in which we eliminate free radicals and toxins from the body thus making
        the body rejuvenate and recuperate.this method helps nutrient in our food to be absorbed into
        our body as they should.
        How often sheould we Detoxify ? <a href="#">ans:-</a> once a month 
        <ul>
            <li><h3>Supplements</h3></li>
            <li>Reliv product</li>
            <li>Udos Fish Oils</li>
            <li>Charcoal toothpaste</li>
            <li>Herbal eyewash</li>
            <li>Charcoal Bathing soap</li>
        </ul>
    </p>
</div>
</div>

{% endblock %}